.input {
    border: none;
    border-radius: 0.3rem;
    padding: 0.4rem 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    transition: border-color 200ms;
}

.input::placeholder {
    color: #bebebe;
}

.input:focus {
    border-color: #a0a0a0;
}
